@font-face {
    font-family: 'army-title';
    src: url('../fonts/army_rust/ARMYRUST.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'army-link';
    src: url('../fonts/coalition/Coalition_v2..ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'army-txt';
    src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'space-txt';
    src: url('../fonts/exo2/Exo2-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'space-title';
    src: url('../fonts/space_age/space_age.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'space-link';
    src: url('../fonts/neuropolx/Neuropol_X_Rg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    /* army */
    --chrcoal-black: #0F0F0F;
    --battle-olive: #4A5C32;
    --ammo-brass: #D4AF37;
    --tank-grey: #7A7F7D;
    --infrared: #A31621;
    --concrete-smoke: #2E2E2E;
    --radar-green: #A3C653;
    /* space */
    --stellar-black: #0B0C10;
    --nebula-purple: #6C3D9E;
    --ion-blue: #00BFFF;
    --plasma-white: #DCE1E3;
    --meteor-ash: #2A2C34;
    --comet-red: #E94560;
    --lunar-grey: #5B5E6D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: var(--stellar-black);
    line-height: 1.6;
}


h1, h2, h3 {
    font-family: 'space-title', sans-serif;
    letter-spacing: 1px;
    color: var(--plasma-white);
}

h1{
    font-size: 30px;
}

h2{
    margin-bottom: 1rem;
    font-size: 26px;
    color: var(--ion-blue);
}

h3{font-size: 22px;}

p{
    font-family: 'space-txt', sans-serif;
    color: var(--plasma-white);
}

a{
    font-family: 'space-link', sans-serif;
    color: var(--plasma-white);
    text-decoration: none;
}

ul{
    list-style: none;
}

.entete{
    background-color: var(--nebula-purple);
    color: var(--plasma-white);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.entete>img{
    border-radius: 40px;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.menu li {
    position: relative;
}

.menu li a{
    padding: 0.5rem 1rem;
    transition: background 0.3s ease;
}

.menu>li>a:hover{
    background-color: var(--ion-blue);
    border-radius: 5px;
}

/* Menu déroulant caché par défaut */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--meteor-ash);
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 200px;
    width: 21rem;
}

.dropdown-content li a {
    display: block;
    width: auto;
    font-size: 0.9rem;
    margin: 5px 0 ;
    color: var(--plasma-white);
    transition: background 0.3s ease;
}

.dropdown-content li a:hover {
    width: 20rem;
    padding: 1rem;
    background-color: var(--ion-blue);
    color: var(--plasma-white);
}

/* Affichage au survol */
.dropdown:hover .dropdown-content {
    display: block;
}

main{
    padding: 3rem;    
}

#presentation{
    width: 40rem;
    margin-bottom: 1rem;
}

#presentation p{
    background-color: var(--meteor-ash);
    border: solid 2px var(--nebula-purple);
    border-radius: 20px;
    padding: 1rem;
    margin-left: 1rem;
}

#pres-forma{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

#lst-formations{
    background-color: var(--meteor-ash);
    border: solid 2px var(--nebula-purple);
    border-radius: 20px;
    padding: 0 1rem 1rem 1rem;
    margin-left: 1rem;
    width: 40rem;
}

#lst-formations li h3{
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

#lst-formations li .info-forma{
    width:20rem;
    margin-left: 20%;
    background: linear-gradient(90deg,rgba(0, 191, 255, 1) 0%, rgba(108, 61, 158, 1) 20%, rgba(108, 61, 158, 1) 100%);
    background-size: 40rem 100%;
    background-position: -20rem 0;

    padding:5px;
    border: solid 2px var(--nebula-purple);
    border-radius: 5px;
}

@keyframes entreGradient {
    to{
        background-position: 0rem 0;
        border: solid 2px var(--ion-blue);
    }
}

@keyframes sortiGradient {
    to{
        background-position: -20rem 0;
        border: solid 2px var(--nebula-purple);
    }
}

#lst-formations>li .info-forma:hover{
    transform: scale(1.05);
    transition: ease-in 0.2s;
    animation: entreGradient 0.2s ease-in forwards;
}

#lst-formations li .info-forma:not(:hover){
    transform: scale(1);
    transition: ease-out 0.2s;
    animation: sortiGradient 0.5s ease-in forwards;
}

.haut-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    flex-wrap: nowrap;
    margin-bottom: 2rem;
}

#mon-cv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin-right: 1rem;
}

#mon-cv a{
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 3.2rem;
    background-color: var(--nebula-purple);
    border-radius: 20px;
    font-size: 13px;
}

.competence{
    background-color: var(--meteor-ash);
    border: solid 2px var(--nebula-purple);
    border-radius: 20px;
    margin: auto;

    /*test carrousel*/

    position: relative;
    width: 45rem;
    overflow: hidden;
}

.carousel{
    display: flex;
    padding: 0;
    margin: 0;
    transition: transform 0.5s ease-in-out;
}

.carousel li{
    min-width: 45rem;
    background: var(--meteor-ash);
    text-align: center;
    padding: 1rem 2rem 2rem 1rem;
    
    /*line-height: 200px;*/
    font-size: 1.2rem;
}

.carousel li img {
    margin: 2rem 0 0 0;
    width: 90%;
    height: 80%;
    object-fit: cover; /* la magie est ici */
    object-position: center;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
}
.prev { left: 10px; }
.next { right: 10px; }


.footer {
    background-color: var(--meteor-ash);
    color: var(--plasma-white);
    padding: 2rem 1rem;
    text-align: left;
}

.footer h2 {
    color: var(--ion-blue);
    margin-bottom: 1rem;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0 0 1rem 0;
}

.footer ul li {
    margin: 0.2rem 0 0.2rem 2rem;
}

.footer a {
    color: var(--plasma-white);
    text-decoration: none;
    transition: color 0.3s;
}

.footer a:hover {
    color: var(--comet-red);
}

.footer p {
    font-size: 0.9rem;
    color: var(--lunar-grey);
    margin-top: 1rem;
}

.reserve{
    text-align: center;

}
